<div class = "jumbotron">
    <div class="img">
      <img src="/img/final-kickstatterlogo.png" alt="Kick Statter Logo">
    </div>
</div>

<% if @team.any?() %>

<div class="team-list">
  <h3>Here are the teams:</h3>

  <div class="list">
      <ul>
        <% @team.each() do |team| %>
          <li><a href="/team/<%= team.id() %>"><%= team.name() %></a></li>
        <% end %>
      </ul>
  </div>


<% else %>

  <h3>There are no teams, enter one below!</h3>
</div>

<% end %>

  <br></br>
<div class="col-md-8 col-md-offset-2">
  <form action="/teams" method="post">
    <div class="index-label">
      <label for="name">Add a team:</label>
    </div>
    <div class="input-group">
      <input type="text" name="name" id="name" class="form-control" placeholder="ex. Bad News Bears">
      <input type="hidden" name="win" value="win">
      <input type="hidden" name="loss" value="loss">
      <input type="hidden" name="draw" value="draw">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-danger">Submit</button>
      </span>
    </div>
  </form>
</div>
