<div class="fielder-logo">
  <img src="/img/final-kickstatterlogo.png" alt="Kick Statter Logo">
</div>

<h3>Kickers</h3>

<div id="trpanel" class="panel panel-success">
  <div class="panel-body">
    <form action="/player/<%= @player.id() %>/kicker" method="post" class="form-group">
        <div class="col-md-6">
          <label for="k_hits">Hits</label>
          <input type="text" name="k_hits" id="k_hits" class="form-control" placeholder="Hits">
          <label for="at_bats">At Bats</label>
          <input type="text" name="at_bats" id="at_bats" class="form-control" placeholder="At Bats">
          <label for="singles">Singles</label>
          <input type="text" name="singles" id="singles" class="form-control" placeholder="Singles">
          <label for="doubles">Doubles</label>
          <input type="text" name="doubles" id="doubles" class="form-control" placeholder="Doubles">
          <label for="triples">Triples</label>
          <input type="text" name="triples" id="triples" class="form-control" placeholder="Triples">
          <button type="submit" class="btn btn-danger">Stats!</button>
        </div>
        <div class="col-md-6 col-offset-6">
          <label for="k_home_runs">Home Runs!</label>
          <input type="text" name="k_home_runs" id="k_home_runs" class="form-control" placeholder="Home Runs">
          <label for="k_runs">Runs</label>
          <input type="text" name="k_runs" id="k_runs" class="form-control" placeholder="Runs">
          <label for="rbi">RBIs</label>
          <input type="text" name="rbi" id="rbi" class="form-control" placeholder="RBIs">
          <label for="k_walks">Walks</label>
          <input type="text" name="k_walks" id="k_walks" class="form-control" placeholder="Walks">
          <label for="k_strikeouts">Strikeouts</label>
          <input type="text" name="k_strikeouts" id="k_strikeouts" class="form-control" placeholder="Strikeouts">
        </div>
    </form>
  </div>
</div>
