<div class="jumbotron">
  <h1>Team Stats</h1>
</div>


  <h3>Here is the team's roster</h3>

  <table class="table table-striped">

  <thead>
    <tr>
      <th>Teams Name</th>
      <th>Wins</th>
      <th>Loss</th>
      <th>Draw</th>
    </tr>
  </thead>
      <tr>
        <td></td>
      </tr>

  </table>
